/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
//*********************************************************
//*********************************************************
a,button, input[type="button"], input[type="submit"] {
	transition:
	border-color .3s ease-in,
	color .4s ease-in,
	background-color .3s ease-in;
}
//*********************************************************
//*********************************************************
body{
	font-family: 'Lato';
	color: #8895A6;
	a{
		text-decoration: none;
		color: #E4F5FC;
	}
}
//*****************************************
//--------------------HEADER-----------------
//*****************************************
.header_bg{
	background-color: #3A3E47;
	background-image: url("../images/bg_img_science.jpg");
	repeat: no-repeat;
	width: 100%;
	background-size:cover;
	-webkit-background-size: cover;
		-o-background-size: cover;
			-ms-background-size: cover;
				-moz-background-size: cover;
	background-position: center center;
	position: relative;
	height: 100vh;
	.logo{
		font-size: 250%;
		a{
			&:hover{
				text-decoration: none;
				color: #8895A6;
			}
		}
	}
}
@media  screen and (max-width: 991px) {
	.logo{
		text-align: center;
	}
}
//*****************************************
//--------------------MENU-----------------
//*****************************************
.bg-menu{
	height: 64px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.menu{
	display: inline-block;
	margin-top: 10px;
	li{
		float: left;
		a{
			margin-left: 40px;
			font-family: 'Lato';
			color: #8895A6;
			font-size: 15.6px;
			font-weight: 500;
			&:first-of-child{
				margin-left: 0;
			}
			&:hover{
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}
//*****************************************
//--------------------ABOUT PROJECT-----------------
//*****************************************
.about_project, .portfolio-info, .contact-info{
	padding-top: 30px;
	h2{
		font-size: 200%;
		font-weight: 700;
	}
	p:first-of-type{
		padding-bottom: 30px;
	}
}
.image-folder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 400px;
	background-color: #F4F4F4;
	margin-bottom: 30px;
	img{
		width: 80%;
		height: 80%;
	}
}
.description-folder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 400px;
	background-color: #343841;
	color: #E1F4FA;
	padding: 10%;
	h3{
		font-size: 150%;
		margin-right: 5%;
		text-transform: uppercase;
		border-bottom: 1px solid #39c9da;
	}
}

.portfolio{
	background-color: #FAFAFA;
}
.portfolio-info{
	text-align: center;
	h2{
		text-transform: uppercase;
		font-size: 200%;
		font-weight: 700;
	}
}
.camera {
	background:url("../images/icons.png") no-repeat 0px 0px;
	width:40px;
	height:34px;
	display:block;
	margin:0 auto;
	}
.portfolio-image{
	border:1px solid #e8e8e8;
	padding:20px;
	background:#ffffff;
	}
.port-info h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	padding:15px 0;
	font-weight: 600;
	color: #504f50;
	}
.port-info p{
	font-size: 14px;
	padding-top:12px;
	color: #504f50;
	text-align: center;
	}
.contact{
	background-color: #E3F6FC;
	ul{
		padding-top: 30px;
	}
}
