/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Lato);
//*********************************************************
//*********************************************************
body{
	font-family: 'Lato';
	color: #8895A6;
	a{
		text-decoration: none;
		color: #E4F5FC;
	}
}
//*****************************************
//--------------------HEADER-----------------
//*****************************************
.header_bg{
	background-image: url("../images/bg_img_science.jpg");
	repeat: no-repeat;
	width: 100%;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	position: relative;
	height: 100vh;
	.logo{
		font-size: 250%;
		a{
			&:hover{
				text-decoration: none;
				color: #8895A6;
			}
		}
	}
}

//*****************************************
//--------------------MENU-----------------
//*****************************************
.bg-menu{
	height: 64px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.menu{

	background-color: transparent;
	.current-menu-item,
	.current_page_item{
		a{
			text-decoration: underline;
			color: #8895A6;
			font-size: 15.6px;
			font-weight: 500;
		}
	}
	display: inline-block;
	margin-top: 10px;
	li{
		float: left;
		a{
			margin-left: 40px;
			font-family: 'Lato';
			color: #8895A6;
			font-size: 15.6px;
			font-weight: 500;
			&:first-of-child{
				margin-left: 0;
			}
			&:hover{
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}
//*****************************************
//--------------------FOOTER-----------------
//*****************************************

.site-footer{
	background-color: #000;
	height: 240px;
	color: #fff;
	p{
		margin-left: auto;
	    margin-right: auto;
	    width: 59em;
	}
	.copyright{
		padding-top: 20px;
		font-family: 'Lato';
		font-size: 13.47px;
		font-weight: 400;
		line-height: 19px;
	}
}
.footer_image_folder{
	padding-top: 34px;
	padding-bottom: 20px;
}
//*****************************************
//--------------------PAGE-----------------
//*****************************************
article.page{
		h2{
			font-size: 200%;
		}
}
//*****************************************
//--------------FRONT-PAGE-----------------
//*****************************************
.learnmore_bg{
	min-height: 416px;
	background-image: url("images/LearnmoreBG.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
	h1{
		color: #f3f7f6;
		font-size: 45.35px;
		font-weight: 500;
		text-transform: uppercase;
		padding-top: 35px;
	}
	h3{
		color: #f3f7f6;
		font-size: 24.94px;
		font-weight: 400;
		padding-bottom: 20px;
	}
	button{
			color: rgba(243, 247, 246, 1.0);
			font-size: 17.01px;
			font-weight: 500;
			line-height: 11px;
			border-radius: none;
			border: 2px solid rgba(243, 247, 246, 1.0);
			background: transparent;
			padding: 20px 30px;
			&:hover{
					p{
						text-decoration: underline;
					}
				}
			p{
				text-transform: uppercase;
				margin-left: auto;
				margin-right: auto;
				width: 3em;
				line-height: 20px;
			}
	}
}

.benefits{
	h2{
		font-family: 'Lato';
		color: #1e4388;
		font-size: 30px;
		font-weight: 500;
		text-transform: uppercase;
		padding: 50px 0;
	}
}
//*****************************************
//--------------WIDGETS-----------------
//*****************************************
.kiio-widget{
	.textwidget{
		margin-left: auto;
	    margin-right: auto;
	    width: 10em;
		margin-bottom: 50px;
	}
	.widget-item{
		h4{
			font-family: 'Lato';
			color: #1e4388;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
	}
}
.image-folder{
	margin: auto;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-color: #174187;
	margin-bottom: 30px;
}
//*****************************************
//--------------ACHIEVEMENT-----------------
//*****************************************
.achievement-bg{
	background-color: #174187;
	height: 277px;
}
